@keyframes fall {
  from {top: 0; opacity:0}
}

body {
    background-color: #b7b7b7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgoldenrod;
    text-decoration: none;
}

.button {
    padding: 10px;
    background-color: darkgoldenrod;
    color: black;
    border-radius: 10px
}

#main-content {
    padding: 10px;
    position: absolute;
    top: 60px;
    animation-name: fall;
    animation-duration: 2s;
}
